NODE_ENV=production
PORT=3001
SESSION_SECRET=cambia_esto
APP_USER=admin
APP_PASSWORD=cambia_esto
ANTHROPIC_API_KEY=sk-ant-api-key
WP_URL=https://tudominio.com
WP_USER=tu_usuario_wp
WP_APP_PASSWORD=xxxx xxxx
APP_DOMAIN=pedri.tudominio.com
